<main>
  <% if current_user %>
    <div class="house-box <%= current_user.house_or_assign_house %>">
      <div>
        You have sworn fealty to
      </div>
    </div>
  <% else %>
    <div class="house-box logged-out">
      <div><%= link_to "Pick a House", "/auth/twitter", class: "auth" %></div>
    </div>
  <% end %>
</main>

